<form action="/upload/" method="POST">
						<div class="form-group" id="#signup-form">
							<input type="text" class="form-control" placeholder="First Name" name="firstname">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Last Name" name="lastname">
						</div>

						<div class="form-group">
							<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" name="email">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="date of birth (format:1994-12-12)" name="birthday">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Hometown" name="hometown">
						</div>

						<div class="form-group">
							<input type="text" class="form-control" placeholder="Gender (put either 'female' or 'male')" name="gender">
						</div>

						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" name="password">
						</div>

						<button type="submit" value="Search" class="btn btn-default submit">Sign Up Now!</button>
					</form>