<!-- author ben lawson balawson@bu.edu -->
<head>
    <title>Create an account!</title>
</head>
{%if not supress%}
<h1> Email already in use! Use another one or <a href="/login">login</a></h1>
{% endif %}
    <body>
        <div class="title">
            <h1>Enter your information below</h1>
        </div>
        <div id="content">
            <form method="post" action="{{ url_for('register_user') }}">
                <label for="email">Email:</label>
                <input type="email" name="email" /><br />
                <label for="password">Password:</label>
                <input type="password" name="password" /><br />
                <label for="firstName">First name:</label>
                <input type="text" name = "f_name" /><br />
                <label for="lastName">Last name:</label>
                <input type="text" name = "l_name" /><br />
                <label for="dob">Birthday:</label>
                <input type="text" name = "d_birth" /><br />
                <label for="gender">Gender:</label>
                <input type="text" name = "gender" /><br />
                <label for="hometown">Hometown:</label>
                <input type="text" name = "h_town" /><br />
                <input type="submit" />
            </form>
         </div>
    </body>
<a href='/'>Home</a>
